# Esse projeto visa estudar utilizando como base o livro "Projetos de Ciência de Dados com Python"

In [1]:
## bibliotecas iniciais

import pandas as pd
import numpy as np

In [9]:
## leitura dos dados

dados = pd.read_excel(r"C:\Users\pasch\Desktop\CURSOS\LIVRO_PROJETOS_C_DADOS_PYTHON\Projeto\default_of_credit_card_clients__courseware_version_1_21_19.xls")

print(f'O dataset contém {dados.shape[0]} linhas e {dados.shape[1]} colunas')
dados.head()

O dataset contém 30000 linhas e 25 colunas

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

## Dicionário dos Dados

Nome Variável	  Papel	            Tipo	    Demográfico	           Descrição	Unidades	   Valores Perdidos
ID	              ID	            Inteiro				                                                 não
X1	              Característica	Inteiro		                       LIMIT_BAL	              	     não
X2	              Característica	Inteiro	    Sexo	               SEXO		                         não
X3	              Característica	Inteiro	    Nível de Educação      EDUCAÇÃO		                     não
X4	              Característica	Inteiro	    Estado Civil	       CASAMENTO	                     não
X5	              Característica	Inteiro	    Idade	               IDADE		                     não
X6	              Característica	Inteiro		                       PAY_0		                     não
X7	              Característica	Inteiro		                       PAY_2		                     não
X8	              Característica	Inteiro		                       PAY_3		                     não
X9	              Característica	Inteiro		                       PAY_4		                     não
X10	              Característica	Inteiro		                       PAY_5		                     não
X11	              Característica	Inteiro		                       PAY_6		                     não
X12	              Característica	Inteiro		                       BILL_AMT1	                     não
X13	              Característica	Inteiro		                       BILL_AMT2	               	     não
X14	              Característica	Inteiro		                       BILL_AMT3	               	     não
X15	              Característica	Inteiro		                       BILL_AMT4	               	     não
X16	              Característica	Inteiro		                       BILL_AMT5	               	     não
X17	              Característica	Inteiro		                       BILL_AMT6	               	     não
X18	              Característica	Inteiro		                       PAY_AMT1		                     não
X19	              Característica	Inteiro		                       PAY_AMT2		                     não
X20	              Característica	Inteiro		                       PAY_AMT3		                     não
X21	              Característica	Inteiro		                       PAY_AMT4		                     não
X22	              Característica	Inteiro		                       PAY_AMT5		                     não
X23	              Característica	Inteiro		                       PAY_AMT6		                     não
Y	              Alvo	            Binário		                       pagamento padrão no próximo mês   não

### Checando ID's únicos

In [10]:
dados['ID'].nunique()

29687

Ou seja, de 30.000 linhas, temos 29.687 ID's únicos, temos então ID's que se repetem.

In [12]:
duplicados = dados['ID'].value_counts()

duplicados.value_counts()

count
1    29374
2      313
Name: count, dtype: int64

### Verificando a integridade com Máscaras Booleanas

In [13]:
dupe_mask = duplicados == 2

dupe_mask[:5]

ID
ad23fe5c-7b09    True
1fb3e3e6-a68d    True
89f8f447-fca8    True
7c9b7473-cc2f    True
90330d02-82d9    True
Name: count, dtype: bool

In [15]:
dupe_ids = duplicados.index[dupe_mask]

dupe_ids = list(dupe_ids)
len(dupe_ids)

313

### Checando mais a fundo as duplicadas

In [19]:
dados.loc[dados['ID'].isin(dupe_ids[0:3]),:].head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
5033,89f8f447-fca8,320000,2,2,1,32,0,0,0,0,...,169371,172868,150827,8000,8000,5500,6100,6000,5000,0
5133,89f8f447-fca8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16727,1fb3e3e6-a68d,80000,1,2,2,33,2,2,0,0,...,27394,29922,31879,0,2000,2000,3000,2600,0,1
16827,1fb3e3e6-a68d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29685,ad23fe5c-7b09,50000,1,3,1,32,0,0,0,0,...,12882,8131,3983,3000,2871,1000,163,3983,3771,1

Ou seja, olhando dentro do dataset geral e procurando apenas os 3 primeiros dados com ID's duplicados, já conseguimos verificar que ocorre algum problema, há dados com linhas contendo apenas 0.

### Criando uma segunda Máscara Booleana - Dataset

In [20]:
dados_mask_zero = dados == 0

In [21]:
feature_zero_mask = dados_mask_zero.iloc[:,1:].all(axis=1)

sum(feature_zero_mask)

315

### Excluindo as duplicadas

In [23]:
df_clean_1 = dados.loc[~feature_zero_mask,:].copy()

df_clean_1.shape

(29685, 25)

In [25]:
## checando se ficamos apenas com dados únicos

df_clean_1['ID'].nunique()

29685